@import 'compass';
@import 'breakpoint-slicer';

	$slicer-breakpoints: 0 400px 700px 800px 1050px;

//Colour pallette
$primary: #ffd11a;
$secondary: darken($primary, 20);
$tertiary: darken($secondary, 20);
$body: #515151;
$body-color: $primary;

header {
	pointer-events:none;
	.middle {@include replace-text(url('data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTMycHgiIGhlaWdodD0iMTU3cHgiIHZpZXdCb3g9IjAgMCAxMzIgMTU3IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMzIgMTU3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IHg9IjExLjUiIHk9IjUiIGZpbGw9IiNGRkZGRkYiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiB3aWR0aD0iMTA5IiBoZWlnaHQ9IjEzOSIvPg0KPHBhdGggZmlsbD0iI0ZGRDExQSIgZD0iTTEzMiwwSDB2MTU3aDEzMlYweiBNODUsMTdoMTl2MjdIODVWMTd6IE0yOSwxN2gxOHYyN0gyOVYxN3ogTTExMywxMzhIMTl2LTE1LjExbDk0LDUuMDM4VjEzOHogTTE5LDEyMlY0OA0KCWg3LjIxMmg1LjAzN2gxNy42NGgzNy43OTJoMjAuMTU2aDUuMDM2SDExM3Y3NEgxOXoiLz4NCjxyZWN0IHg9Ijc4LjU5OCIgeT0iODEuNjM2IiBmaWxsPSIjRkZEMTFBIiB3aWR0aD0iMjcuNjI3IiBoZWlnaHQ9IjI3LjYzIi8+DQo8cmVjdCB4PSIzOS45MTQiIHk9IjgxLjYzNiIgZmlsbD0iI0ZGRDExQSIgd2lkdGg9IjI3LjYzMiIgaGVpZ2h0PSIyNy42MyIvPg0KPC9zdmc+DQo='));
		@include box-shadow($secondary 2px 2px 0);

		width: 84px;
	}
}

.box > :first-child {
	padding-top: 4rem;
}

.box-1 {
	text-align: center;
	@include background(radial-gradient(#3a433e, #3a443f, #272c26 100%));

	position: relative;

	img {
		max-height: 70%;
	}

	h4 {
		text-transform: uppercase;
		font-size: 2rem;
		line-height: 2.2rem;
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 1.5rem;
	}
}

.box-2 {
	@include background(url(../images/milehigh-takeoff.jpg));
	background-size: cover;
}

.box-3 {
	@include background(url(../images/atc.jpg));
	background-size: cover;
	@include clearfix();

	form {
		margin: 0 auto;
		width: 75%;
		@include to(3) {
			width: 90%;
		}
	}

	.left, .right {
		padding-top: 2rem;
		width: 50%;
		@include to(3) {
			float: none;
			width: 100%;
		}
	}

	.right {
		@include to(3) {
			padding-top: 0;
		}

		h6 {
			color: white;
			margin-top: 1.6rem;
			margin-bottom: 0.5rem;
			line-height: 1.7rem;
		}

		div {
			width: 75%;
			margin: 2.3rem auto 0 auto;
			@include to(3) {
				width: 90%;
			}
		}
	}

	h4 {
		padding-bottom: 0;
		text-align: center;
	}

	h6 {
		font-size: 1.6rem;
		line-height: 1.7rem;
		font-weight: 100;
		text-align: center;

		@include text-shadow(black 0px 0px 2px);

	}

	.pure-control-group {
		h6 {
			margin-top: 1.6rem;
			margin-bottom: 0.5rem;
		}
	}


	label {
		margin-top: 0.8rem;
		margin-bottom: 0.4rem;
	}

	input:not([type="radio"]), textarea {
		width: 100%;
		max-width: 100%;
	}

	input[type="radio"] {
		display: none;
	}


	.pure-button {

		margin-bottom: 2rem;
		display: none;

		&:hover {
			background: none;
			border-color: darken($body-color, 10);
			color: darken($body-color, 10);
		}

		&:active {
			background: none;
			border-color: darken($body-color, 20);
			color: darken($body-color, 20);
			@include box-shadow(1px 1px 0 lighten($body-color,5) inset, 1px 1px 0 $body-color);
		}
	}

	.dr {
		width: 48%;
		cursor: pointer;
		text-align: center;
		display: inline-block;

		font-family: 'Oswald', sans-serif;
		font-size: 1.5rem;
		font-weight: 100;

		border: 5px solid white;

		padding : 0.6rem;
		@include border-radius(2rem);
		@include box-shadow(1px 1px 0 lighten($body-color,5) inset, 1px 1px 0 $body-color);
		@include single-transition(all, 0.4s);

		&:hover {
			background: none;
			border-color: darken($body-color, 10);
			color: darken($body-color, 10);
		}

		&:active {
			background: none;
			border-color: darken($body-color, 20);
			color: darken($body-color, 20);
			@include box-shadow(1px 1px 0 lighten($body-color,5) inset, 1px 1px 0 $body-color);
		}

		&.first {
			margin-right: 2%;
		}
	}
}

.hacker, .designer {
	display: none;
	margin-top: 1.1rem;
	margin-bottom: 0.5rem;
}



footer {
	// padding: 1rem;
	color: $secondary;
	background-color: $primary;

	svg {
		@include single-transition(all, 0.4s);

		.background {
			fill: $secondary;
		}

		.logo {
			fill: $primary;
			
		}
		&:hover {
			.logo {
				fill: lighten($tertiary,50);
			}
		}
	}

	@include clearfix();
}


